button{
	background-color: transparent;
	border-width: 2px;
	border-style: solid;
	border-radius: 1.4vw;
	outline: none;
	width: 60%;
	user-select: none;
	-moz-user-select: -moz-none;
	transition: all .2s;
	box-shadow: 0 1px 4px rgba(0,0,0,.5);
}

button[disabled]{
	box-shadow: none;
	opacity: .7;
}

button.binary{
	grid-row: 2 / span 1;
	border-color: var(--binaryColor);
}

button.decimal{
	grid-row: 3 / span 1;
	border-color: var(--decimalColor);
}

button.octal{
	grid-row: 4 / span 1;
	border-color: var(--octalColor);
}

button.hexadecimal{
	grid-row: 5 / span 1;
	border-color: var(--hexColor);
}