:root{
	--binaryColor: #EB043E;
	--decimalColor: #FDD017;
	--octalColor: #0C8FF5;
	--hexadecimalColor: #4CC417;

	--white: #ede6f7;
	--black: #120c21;
}

html,
body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	overflow: scroll;
	background-color: var(--white);
}

#root{
	width: 100%;
	height: 100%;
	display: flex;
	font-size: 4vw;
	flex-direction: column;
}

header{
	color: white;
	background-color: var(--black);
	padding: 2%;
	width: 100%;
	align-self: flex-start;
	box-sizing: border-box;
}

h1{
	margin: 1% 0;
	text-align: center;
	font-size: 1.2em;
}

main.container{
	flex-wrap: wrap;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
	grid-gap: 2vw;
	box-sizing: border-box;
	padding: 1%;
	width: 100%;
	height: auto;
	margin-top: 45%;
	justify-items: center;
}

input{
	border: none;
	border-radius: 1.3vw;
	padding: 2%;
	box-sizing: border-box;
	outline: none;
	width: 96%;
	line-height: 1.8rem;
	grid-row: 1 / span 1;
	text-align: center;
	background-color: rgba(0,0,0,.1);
}

span{
	color: red;
	font-size: 1.2rem;
	grid-row: 2 / span 1;
}

#base1-mismatch{
	grid-column: 1 / span 1;
}

#base2-mismatch{
	grid-column: 2 / span 1;
}

button{
	background-color: transparent;
	border-radius: 1.4vw;
	outline: none;
	width: 60%;
	user-select: none;
	-moz-user-select: -moz-none;
	transition: all .2s;
	box-shadow: 0 1px 4px rgba(0,0,0,.4);
	border: none;
	color: #fff;
	font-size: .9em;
	padding: 2%;
	text-shadow: 0 0 3px rgba(0,0,0,.4);
}

#convert{
	width: 70%;
	grid-row: span 2;
	grid-column: span 2;
	align-self: end;
	padding: 2%;
	border: none;
	border-radius: 1.4vw;
	background-color: #7d3ae0;
	color: var(--white);
	font-weight: bold;
	text-shadow: none;
}

#convert:hover{
	box-shadow: none;
	background-color: var(--white);
	color: #7d3ae0;
}

@media only screen and (orientation: landscape) {
	#root{
		font-size: 4vh;
	}
	
	input,
	button{
		border-radius: 1.4vh;
	}
}